.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ssd{
  border:solid black 5px;
  border-radius: 5%;
  height:100vh;
  width:100%;
  background-image: linear-gradient(to left,rgb(82, 160, 153),rgba(150, 212, 48, 0.596));
  margin:2px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mpd{
  border: solid black 3px;
  height:80%;
  width: 80%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.imga{
height:40%;
width: 30%;
background-color: white;
}
.content{height:70%;
  width: 60%;
  background-color: white;
  margin:2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap:wrap;
  overflow:auto;
  padding:5%;

}
.im{
  height: 100%;
  width:100%
}
span{
  font-size: 100%;
  font-weight:bold;
}
.con{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap:wrap
}
.Gen{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap:wrap;
}
.con1{
flex-direction: column;

}